*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: pink;
}
h1{
    text-align: center;
    font-size: 40px;
    color: hotpink;
    margin: 15px 0;
}
.btn-group{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
button{
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 20px;
    border: transparent;
    border-radius: 30px;
}
#yes{ 
    margin-left: 200px;
    background-color: hotpink;}
#no{
    margin-right: 200px;
    background-color:green;} 
img{
    display: block;
    margin: auto;
}


